*{
 margin: 0;
 padding: 0;
 font-family: 'poppins',sans-serif;  
 box-sizing: border-box; 
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
    color: #ffff;
    font-size: 30px;

}
.nav-left,.nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
width: 28px;
margin: 0 15px;
}
.nav-usericon{
    margin-left: 30px;
}
.nav-usericon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}
.searchbox{
    background: #efefef;
width: 350px;
border-radius: 20px;
display: flex;
align-items: center;  
padding: 0 15px; 
}
.searchbox img{
    width: 18px;
}
.searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline:none ;
    border: 0;

}
.online{
    position: relative;
}
.online::after{
    content: ' ';
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
   
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
  background-color: #ffff;
  padding: 20px;
  border-radius: 4px;
  color:#626262 ;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content{
    flex-basis: 47%;

}
.imp-links a,.shortcut-links a{
text-decoration: none;
display: flex;
align-items: center;
margin-bottom: 30px;
color: #626262;
width: fit-content;

}
.imp-links a img{
width: 25px;
margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;


}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a
{
    text-decoration: none;
color: #1876f2;
font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
}
.event p{
    font-size: 12px;

}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #ffff;
    font-size: 10px;
    padding: 4px 0;
}
.sidbar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;

}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.story-gallary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.story img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
  bottom: 40px;
  left: 50%;
  border: 0;
  transform: translateX(-50%);
    border-radius: 5px solid #626262;
}
.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 14px;

}
.storys-1{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.storys-1 img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;

    border: 5px solid #1876f2;
}
.storys-1 p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 14px;
}
.storys-2{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-3.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.storys-2 img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;

    border: 5px solid #1876f2;}
.storys-2 p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 14px;
}
.storys-3{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-4.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.storys-3 img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;

    border: 5px solid #1876f2;}
.storys-3 p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 14px;
}
.storys-4{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-5.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.storys-4 img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;

    border: 5px solid #1876f2;}
.storys-4 p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 14px;
}
.write-post-container{
    width: 100%;
    background: #ffff;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
}
.userprofile{
    display: flex;
    align-items: center;
}
.userprofile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.userprofile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;

}
.userprofile small{
    font-size: 12px;

}
.post-input-container{
    padding-left: 55px;
    padding-top: 5px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;

}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;

}
.post-container{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.userprofile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    margin: 15px 0;
    font-size: 15px;
    padding-left: 55px;
}
.post-img{
    width: 100%;
    border-radius:4px ;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
width: 18px;
margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
 
   
    color: #626262;
    border: #9a9a9a;
    padding-left: 90px;
    
padding-top: 15px;
  padding-bottom: 15px;






}
.activity-icons{
    border-top:2px solid #ccc ;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.feed-row{
    display: flex;
    align-items: center;
    

}
.p1{
    padding-left: 15px;
}
.p2{
    padding-left: 300px;
}
.p3{
    padding-left: 15px;
}
.like{
    color: #1876f2;
   forced-color-adjust:1876f2 ;
}
